*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body{
    font-family: 'Rubik Puddles';
    height: 150vh;
    background-color: #F6CED8;
}
header{
    position: relative;
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
    justify-items: center;
    padding-bottom: 60px;
    background-image: linear-gradient(to right, #f64f5a81, #c471ed71, #12c2e980) , url(montaña.jpg); 
    
}
.contenedor-textos{
    width: 50%;
    color: rgb(252, 237, 243);
}
h1{
    font-weight: 600;
    font-size: 75px;
    margin: 30px;
    text-shadow: 1px 3px 3px rgba(0, 0, 0, 0.959);
    text-align: center;
    
}
img{
    width: 40%;
    display: inline-block;
}
.wave{
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 180px;
    
}